name: 'Airflow CI'

on:
  pull_request:
    paths:
      - 'airflow/**'

jobs:
  airflow-ci:
    name: 'Lint & Test Airflow'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python_version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 pytest praw pandas pyarrow great-expectations apache-airflow

    - name: Lint with black
      run: black --check airflow/

    - name: Lint with flake8
      run: flake8 airflow/ --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Run tests
      run: pytest airflow/tests/
